@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: SF Pro Display Regular, 'SF Pro Display Regular', sans-serif;
}

body {
  height: 100vh;
}

.layout {
  display: flex;
  height: 100vh;
}

.navigation {
  width: 18vw;
  background-color: #1f1f1eff;
  margin: 30px 0px;
}

.navigation .brand {
  margin: 30px;
}

.navigation img {
  max-width: 32px;
}

.navigation .menu {
  padding-top: 42px;
}

.navigation .menu .item {
  padding: 12px 0px 12px 30px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.navigation .menu .item:focus {
  outline: none;
}

.navigation .menu .item.active {
  background-color: #121212;
}

.navigation .menu .item.active span {
  color: rgba(255, 69, 58, 1);
}

.navigation .menu .item:hover {
  background-color: #121212;
}

.navigation .menu .item:hover > span {
  color: rgba(255, 69, 58, 1);
}

.navigation .menu .item span {
  color: #ffffffff;
  font-size: 18px;
}

.container-view {
  width: 77vw;
  margin: 30px;
}

.chart-wrapper {
  position: relative;
  padding: 30px;
}

.chart-inline-block {
  background-color: #1f1f1eff; /* secondarySystemBackground */
  height: 138px;
  margin-bottom: 24px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.chart-label {
  padding-bottom: 24px;
}

.chart-large {
  background-color: #1f1f1eff; /* secondarySystemBackground */
}

.chart-small {
  display: flex;
  width: 244px;
  height: 80px;
  position: relative;
}

.chart-small .chart-label {
  position: absolute;
  top: 29%;
}

.chart-small .chart-label p {
  font-weight: 700;
  font-size: 24px;
}

.chart-small .chart-wrapper_area {
  position: absolute;
  right: 30px;
}

.chart-small canvas {
  height: 100px !important;
  width: 136px !important;
}

.chart-small span {
  color: rgba(10, 132, 255, 1);
  font-size: 20px;
  font-weight: 700;
  padding-left: 8px;
}

.chart-small .chart-label {
  padding-bottom: 0px;
}

.chart-large .chart-label p {
  display: inline;
  font-weight: 700;
  font-size: 24px;
}


.chart-large span {
  color: rgba(255, 69, 58, 1);
  font-size: 20px;
  display: block;
  font-weight: 700;
  padding-left: 8px;
}

.date-filter {
  margin-bottom: 30px;
  display: flex;
  position: relative;
}

.segmented-control {
  display: flex;
  max-width: 391px;
  width: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
  font-size: 14px;
  border: 2px solid #2c2c2eff;
  border-radius: 8px;
  /* margin: 0 auto; */
  color: #ffffffff;
  background-color: #2c2c2eff;
}

.segmented-control input {
  display: none;
}

.segmented-control > input:nth-of-type(1):checked ~ label.available:last-of-type:before {
  transform: translateX(calc(0% + 0px));
  width: 80px;
}
.segmented-control > input:nth-of-type(2):checked ~ label.available:last-of-type:before {
  transform: translateX(calc(96% + 0px));
  width: 81px;
}
.segmented-control > input:nth-of-type(3):checked ~ label.available:last-of-type:before {
  transform: translateX(calc(195% + 0px));
  width: 80px;
}
.segmented-control > input:nth-of-type(4):checked ~ label.available:last-of-type:before {
  transform: translateX(calc(292.5% + 0px));
  width: 80px;
}
.segmented-control > input:nth-of-type(5):checked ~ label.available:last-of-type:before {
  transform: translateX(calc(395% + 0px));
  width: 79px;
}

.segmented-control label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 3px;
  transition: color 350ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.segmented-control label.available:last-of-type:before {
  content: "";
  display: block;
  width: 79px;
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
  border-radius: 6px;
}

.segmented-control label:before {
  background: #545458ff;
  transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.segmented-control label:nth-of-type(1):after {
  content: '';
  height: 60%;
  width: 1px;
  position: absolute;
  left: 20%;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  background-color: #545458ff;
}

.segmented-control label:nth-of-type(2):after {
  content: '';
  height: 60%;
  width: 1px;
  position: absolute;
  left: 40%;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  background-color: #545458ff;
}

.segmented-control label:nth-of-type(3):after {
  content: '';
  height: 60%;
  width: 1px;
  position: absolute;
  left: 60%;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  background-color: #545458ff;
}

.segmented-control label:nth-of-type(4):after {
  content: '';
  height: 60%;
  width: 1px;
  position: absolute;
  left: 80%;
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  background-color: #545458ff;
}


.date-picker {
  position: absolute;
  right: 0px;
  top: 2px;
}

.date-picker .filter {
  cursor: pointer;
  padding: 4px 9px 4px 9px;
  border: 1px solid #545458ff;
  border-radius: 3px;
  display: flex;
}

.date-picker .filter .filter-label {
  color: #fafafa;
  font-size: 15px;
  padding-left: 7px;
  padding-right: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.date-picker .filter .filter-date {
  color: #ebebf589;
  font-size: 15px;
}

.calendar-close {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 998;
  display: none;
}

.visible {
  display: block;
}

.date-picker .calendar {
  width: 276px;
  height: 384px;
  position: absolute;
  background-color: #2c2c2eff;
  z-index: 999;
  right: 0;
}

.date-picker .calendar-overlay {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
}

.date-picker .calendar .dates {
  display: flex;
  width: 186px;
  margin: 20px auto 20px auto;
}

.date-picker .calendar .dates .date-box {
  width: 80px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #545458ff;
  font-size: 14px;
  color: #ffffffff;
  text-align: center;;
  cursor: pointer;
}

.date-picker .calendar .dates .date-box.from {
  margin-right: 10px;
}

.date-picker .calendar .dates .date-box.active{
  background-color: #545458ff;
  /* border: 1px solid rgba(10.0, 132.0, 255.0, 1); */
}

.date-picker .calendar .calendar-body {
  width: 252px;
  margin: 0 auto;
}

.date-picker .calendar .calendar-body .months {
  display: flex;
  overflow: hidden;
}

.date-picker .calendar .calendar-body .month {
  min-width: 252px;
  /* transition: 100ms; */
}

.date-picker .calendar .calendar-body .month .month-label-wrapper {
  display: flex;
  margin: 0 auto 0 auto;
  width: 238px;
}

.date-picker .calendar .calendar-body .month-arrow {
  color: #ffffffff;
  font-size: 17px;
  text-align: center;
  color: rgba(60.0, 60.0, 67.0, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  touch-action: none;
}

.date-picker .calendar .calendar-body .month-arrow.month-back {
  width: 15px;
}

.date-picker .calendar .calendar-body .month-arrow.month-forward {
  width: 21px;
}

.date-picker .calendar .calendar-body .month-arrow.active {
  color: #ffffffff;
  cursor: pointer;
}

.date-picker .calendar .calendar-body .month-name {
  color: #ffffffff;
  text-align: center;
  margin: 0px 2px 20px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  touch-action: none;
}

.date-picker .calendar .calendar-body .month .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date-picker .calendar .calendar-body .year-name {
  color: #ffffffff;
  text-align: center;
  margin: 0px auto 20px 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  touch-action: none;
}

.date-picker .calendar .calendar-body .daysheader {
  height: 23px;
  width: 238px;
  display: flex;
  margin: 0 auto;
}

.date-picker .calendar .calendar-body .daysheader .day{
  padding-top: 3px;
  padding-bottom: 5px;
  width: 34px;
  text-align: center;
  color: #545458ff;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  touch-action: none;
}

.date-picker .calendar .calendar-body .week {
  height: 31px;
  width: 238px;
  display: flex;
  margin: 0 auto;
}

.date-picker .calendar .calendar-body .cell {
  padding: 8px 0px;
  width: 34px;
  font-size: 15px;
  text-align: center;
  color: rgba(60.0, 60.0, 67.0, 1);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  touch-action: none;
}

.date-picker .calendar .calendar-body .cell.active {
  color: #ffffffff;
  cursor: pointer;
  position: relative;
}

.date-picker .calendar .calendar-body .cell.current:after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  background-color: #545458ff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  border-radius: 50px;
}

.date-picker .calendar .calendar-body .cell.active:hover {
  background-color: #545458ff;
}

.date-picker .calendar .calendar-body .cell.active.selected {
  background-color: rgba(255, 69, 58, 1);
}

.date-picker .calendar .time {
  margin: 12px auto 20px auto;
  width: fit-content;
}

.date-picker .calendar .time input {
  border: 1px solid #545458ff;
  background-color: transparent;
  color: #ffffffff;
  width: 84px;
  height: 20px;
  font-size: 14px;
  border-radius: 3px;
  text-align: center;
}

.date-picker .calendar .time input::-webkit-outer-spin-button,
.date-picker .calendar .time input::-webkit-inner-spin-button {
  display: none;
}

.date-picker .calendar .time input::-webkit-calendar-picker-indicator {
  display: none;
}

.date-picker .calendar .time input:invalid {
  color: #545458ff;
}

.date-picker .calendar .time input:focus {
  outline: none;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
}

.chart_avgrt canvas {
  height: 220px;
}

.chart_avgrt p {
  font-size: 22px;
}

.chart-wrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chart-wrapper p {
  color: #ffffffff;
  margin-top: 0px;
  padding-left: 8px;
}

.logs-block {
  background-color: #1f1f1eff;
  width: 100%;
  height: 100%;
}

.logs-block .logs-wrapper {
  padding: 30px;
  height: 81.3vh;
}

.logs-block .logs-header {
  color: #ffffff;
  font-size: 15px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  border-bottom: 1px solid #545458ff;
  padding-bottom: 20px;
}

.logs-block .logs-header .filter {
  position: relative;
  width: 79px;
  height: 18px;
  cursor: pointer;
  padding: 4px 9px 4px 9px;
  border: 1px solid #545458ff;
  border-radius: 3px;
  display: flex;
}

.logs-block .logs-header .filter .filter-label {
  color: #fafafa;
  font-size: 15px;
  padding-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.logs-block .logs-header .filter .tags-filter {
  position: absolute;
  cursor: default;
  padding: 17px 15px;
  background-color: #2c2c2eff;
  z-index: 999;
  top: 27px;
  left: -1px;
}

.logs-block .logs-header .filter .tags-filter .tag {
  display: inline-block;
  width: 92px;
  padding: 2px 0px 2px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.logs-block .logs-header .filter .tags-filter .tag input {
  margin-right: 8px;
}

.logs-block .logs-header .search {
  width: 158px;
  height: 22px;
  padding: 4px 6px 2px 8px;
  justify-self: end;
  border: 1px solid #545458ff;
  border-radius: 5px;
  transition: all 150ms linear;
}

.logs-block .logs-header .search.focused {
  border: 1px solid rgba(10, 132, 255, 1);
  transition: all 150ms linear;
}

.logs-block .logs-header .search img {
  width: 14px;
  height: 14px;
  margin-top: 3px;
  float: left;
  filter: invert(34%) sepia(8%) saturate(197%) hue-rotate(201deg) brightness(93%) contrast(94%);
  -webkit-user-select: none;
  -moz-user-select: none;
}

.logs-block .logs-header .search .close-icon {
  margin-top: 0px;
  width: 16px;
  height: 20px;
  cursor: pointer;
}

.logs-block .logs-header .search input {
  float: left;
  outline: none;
  font-size: 15px;
  width: 113.5px;
  padding-left: 8px;
  padding-right: 6px;
  margin-top: 1px;
  background-color: transparent;
  color: #ffffff;
  border-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logs-block .logs-header .search input::placeholder {
  color: #545458ff;
}

.logs-block .logs-table {
  width: 100%;
  height: 73.7vh;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.logs-block .logs-table::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.logs-block .logs-table .log {
  padding: 8px 15px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: .4px;
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 6fr);
  border-bottom: 1px solid #2c2c2eff;
}

.logs-block .logs-table .log .column {
  text-align: left;
}

.logs-block .logs-table .log .column.timestamp {
  color: #ebebf599;
}

.logs-block .logs-table .log .column.tag {
  font-weight: 700;
  letter-spacing: .6px;
  margin-left: 4px;
}

.logs-block .logs-table .log .column.text {
  margin-left: 10px;
}